.h1 {
  text-align: center;
}
.border {
  text-align: left;
  border: dotted 5px blue;
  border-radius: 30px;
  width: 500px;
  margin: 0 auto;
}
.border2 {
  border: dotted 5px red;
  border-radius: 30px;
  width: 500px;
  margin: 0 auto;
}
.ol {
  display: inline-block;
  text-align: center;
}
.ul {
  display: inline-block;
  text-align: left;
}
