.h1 {
  text-align: center;
}
.border {
  text-align: center;
  border: dotted 5px blue;
  border-radius: 10px;
  width: 500px;
  margin: 0 auto;
}
.border2 {
  text-align: center;
  border: dotted 5px red;
  border-radius: 10px;
  width: 500px;
  margin: 0 auto;
}
