.h1 {
  text-align: center;
}
.border {
  text-align: center;
  border: dotted 5px blue;
  border-radius: 10px;
  width: 500px;
  margin: 0 auto;
  vertical-align: middle;
}
.border2 {
  text-align: center;
  border: dotted 5px yellow;
  border-radius: 10px;
  width: 500px;
  margin: 0 auto;
}
